{% extends 'base.html.twig' %}


{% block body %}
	<h1 class="bg-blue-500 text-2xl text-center font-bold">Wohhhooooo</h1>


	<img src="{{asset('build/images/f1.975e6488.jpg')}}" alt="">


{% endblock %}
